
@media (max-width: 1700px){
	
}
@media (max-width: 1500px){
	
}
@media (max-width: 1450px) {
	
}
@media (max-width: 1400px) {
	
}
@media (max-width: 1300px) {
	.the-design-of-everyd {
	    font-size: 25px;
	    line-height: 30px;
	}
	.toolbar .btn {
	    min-width: 50px;
	    font-size: 16px;
	}
}
@media (max-width: 1200px){
	.toolbar .btn{
		margin-right: 20px;
	}
	/*.project-name a{
		padding-left: 0;
		font-size: 14px;
	}*/
}
@media (max-width: 1100px){
	
}
@media (min-width: 1024px){

}
@media (max-width: 1024px) {
	.navigation_bar,
	nav.active{
	  position: absolute;
	}
}
@media (max-width: 991px){
	.o-ur-team,
	nav.active .close{
		display: none;
	}
	nav.active .o-ur-team{
		display: block;
	}

	.frg-slider2-wap .carousel-indicators li{
		margin: 20px 0;
	}
	.frg-slider2-wap .carousel-indicators li.active:before{
		width: 45px;
	}
	.the-design-of-everyd {
	    font-size: 20px;
	    line-height: 30px;
	}
	/*.project-name a{
		padding-left: 10px;
	    font-size: 12px;
	}*/
}
@media (max-width: 850px){
	/*.toolbar .btn{
		margin: 0;
		width: 100%;
	}*/
	.portfolio-wap .scale-anm{
		margin: 0;
		white-space: pre-line;
	}
	/*.tile-portfolios{
		padding-left: 0;
	}
	.portfolios{
		width: 100%;
		text-align: center;
	}
	.tile-portfolios:before{
		left: 50%;
		transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}*/
	.toolbar{
		padding-left: 0;
	}
	#portfolio {  
	    margin: 1rem 0;
	    -webkit-column-count: 2; 
	    -moz-column-count: 2;
	    column-count: 2;
	    -webkit-column-gap: 1rem;
	    -moz-column-gap: 1rem;
	    column-gap: 1rem;
	    -webkit-column-width: 50%;
	    -moz-column-width: 50%;
	    column-width: 50%;
	}
}
@media (max-width: 768px){
	/*.frg-slider2-wap .carousel-indicators li.active span,
	.frg-slider2-wap .carousel-indicators li span{
		font-size: 12px;
	}*/
	.frg-slider2-wap .carousel-indicators li {
	    margin: 10px 0;
	}
	.frg-slider2-wap .carousel-indicators li.active:before{
		width: 30px;
	}
	.frg-slider2-wap:after {	 
	    height: 60px;
	    width: 45px;	    
	    bottom: -30px;	    
	}
	.frg-slider2-wap:before {
	    font-size: 30px;
	    bottom: -25px;
	}
	.frg-slider2-wap:hover:before {
	    bottom: -40px;
	}
	.the-design-of-everyd {
	    font-size: 14px;
	    line-height: 20px;
	}
	.carousel-caption{
		width: 80%;
	}
	.carousel-inner>.item{
		height: 100%;
		overflow: hidden;
	}
	.carousel-inner>.item img{
		height: 100%;
		max-width: none;
	}
	.project-name{
		margin-bottom: 10px;
	}
	.navigation_bar.active .state-opened:before{
		top: 20px;
    	left: -30px;
	}
	.page-scroll {
	    height: 70px;
	    bottom: -30px;
	}
	.page-scroll:before{
		bottom: 0;
	}
	.detail-link .link-right,
	.detail-link .link-left{
		font-size: 0;
	}
	.back-home{
	    margin-left: 0;
	    top: 25%;
		left: 50%;
		transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	}
	.onstreet span{
		position: relative;
		top: 35px;
	}
	.frg-slider2-wap .carousel-indicators{
	    top: auto;
	    bottom: 0;
	    width: 100%;
	    text-align: center;
        transform: none;
	    -moz-transform: none;
	    -webkit-transform: none;
	    -o-transform: none;
	}
	.frg-slider2-wap .carousel-indicators li{
		clear: none;
		float: none;
		margin: 0 10px;
		top: 80px;
	}
	/*.frg-slider2-wap .carousel-indicators li:first-child{
		margin-left: 0;
	}*/
	.frg-slider2-wap .carousel-indicators li.active{
		margin: 0 10px;
	}
	.frg-slider2-wap .carousel-indicators li span {
	    top: 0;
	    right: 0;
	}
	.frg-slider2-wap .carousel-indicators li:before{
		display: none;
	}
	body{
		padding: 0;
	}
	.bana-social{
		display: none;
	}
	.portfolio-wap{
		padding: 0 15px;
	}
	.tile-portfolios:before{
		width: 60px;
	}
	.toolbar .btn{
		padding-top: 10px;
	}
	#portfolio {  
	    margin: 1rem 0;
	    -webkit-column-count: 1; 
	    -moz-column-count: 1;
	    column-count: 1;
	    -webkit-column-gap: 1rem;
	    -moz-column-gap: 1rem;
	    column-gap: 1rem;
	    -webkit-column-width: 50%;
	    -moz-column-width: 50%;
	    column-width: 50%;
	}
	.footer:before {
	    width: 140px;
	}
}
@media (max-width: 660px){	
	.the-design-of-everyd{
		letter-spacing: 5px;
		font-size: 12px;
	}
	.the-banana a{
		font-size: 18px;
	}
	.portfolios{
		font-size: 16px;
	}	
}
@media (max-width: 550px){
	
}
@media (max-width: 480px){
	.the-banana {
	    left: 60%;
	    top: 45%;
	}
	.project-name {
	    white-space: initial;
	}
	.avatar-list .avatar-img {
	    height: 160px;
	    width: 160px;
	}
	.carousel-inner>.item {
	    height: 465px;
	}
	.navigation_bar.active .state-opened:before {
	    left: -45px;
	}
	.navigation_bar .header__burger_button:before{
		top: -8px;
	}
	.navigation_bar.active .state-opened:before{
		top: 20px;
	}
}