
@media (max-width: 1700px){
	
}
@media (max-width: 1500px){
	
}
@media (max-width: 1450px) {
	
}
@media (max-width: 1400px) {
	
}
@media (max-width: 1300px) {
	.the-design-of-everyd {
	    font-size: 25px;
	    line-height: 30px;
	}
	.toolbar .btn {
	    min-width: 50px;
	    font-size: 16px;
	}
}
@media (max-width: 1200px){
	.toolbar .btn{
		margin-right: 20px;
	}
}
@media (max-width: 1100px){
	
}
@media (min-width: 1024px){

}
@media (max-width: 1024px) {

}
@media (max-width: 991px){
	.o-ur-team,
	nav.active .close{
		display: none;
	}

	.frg-slider2-wap .carousel-indicators li{
		margin: 20px 0;
	}
	.frg-slider2-wap .carousel-indicators li.active:before{
		width: 45px;
	}
	.the-design-of-everyd {
	    font-size: 20px;
	    line-height: 30px;
	}
	.project-name a{
		padding-left: 0;
	    font-size: 14px;
	}
}
@media (max-width: 900px){
	
}
@media (max-width: 768px){
	.frg-slider2-wap .carousel-indicators li.active span,
	.frg-slider2-wap .carousel-indicators li span{
		font-size: 12px;
	}
	.frg-slider2-wap .carousel-indicators li {
	    margin: 10px 0;
	}
	.frg-slider2-wap .carousel-indicators li.active:before{
		width: 30px;
	}
	.frg-slider2-wap:after {	 
	    height: 60px;
	    width: 45px;	    
	    bottom: -30px;	    
	}
	.frg-slider2-wap:before {
	    font-size: 30px;
	    bottom: -25px;
	}
	.frg-slider2-wap:hover:before {
	    bottom: -40px;
	}
	.the-design-of-everyd {
	    font-size: 14px;
	    line-height: 20px;
	}
	.carousel-caption{
		width: 80%;
	}
	.carousel-inner>.item{
		height: 200px;
		overflow: hidden;
	}
	.carousel-inner>.item img{
		height: 100%;
	}
}
@media (max-width: 660px){	
	.the-design-of-everyd{
		letter-spacing: 5px;
		font-size: 12px;
	}
	.the-banana{
		top: 40%;
	}
	.the-banana a{
		font-size: 18px;
	}
	.portfolios{
		font-size: 16px;
	}
}